---
import Default from '../layouts/default.astro';
---
<Default title="Home">
  <h1 class="flash">social</h1>
  <div class="socials">
    <p class="wiggle woosh wg-text wsh-text flash links">
      <a href="https://youtube.com/@driplase" target="_blank" rel="noopener noreferrer">YouTube</a>
    </p>
    <p class="wiggle woosh wg-text wsh-text flash links">
      <a href="https://x.com/driplase" target="_blank" rel="noopener noreferrer">
        <i class="eclyera icon">&#x1d54f;</i> (f.k.a Twitter)
      </a>
    </p>
    <p class="wiggle woosh wg-text wsh-text flash links">
      <a href="https://github.com/driplase" target="_blank" rel="noopener noreferrer">GitHub</a>
    </p>
    <p class="wiggle woosh wg-text wsh-text flash links">
      <a href="#" target="_blank" rel="noopener noreferrer">whatevr it s</a>
    </p>
  </div>
  <br>
  <h1 class="flash">mutual links</h1>
  <div class="socials">
    <p class="wiggle woosh wg-text wsh-text flash links">
      <a href="https://furamen.kokkosoft.com" target="_blank" rel="noopener noreferrer">
        <i class="eclyera icon">&#xf806;</i> ふらめんのホームページ
      </a>
    </p>
  </div>
</Default>
<style scoped>
  .socials {
    display: grid;
    justify-items: center;
    font-size: 1.2rem;
    text-align: center;
  }
  .links {
    padding: 4px;
  }
  a {
    text-decoration: none;
  }
  </style>