---
import Default from '../layouts/default.astro';
---
<Default title="Home">
  <h1 class="flash woosh">works</h1>
  <h3 class="woosh"></h3>
  </div>
</Default>
<style scoped>
  .links {
    padding: 4px;
  }
  a {
    text-decoration: none;
  }
</style>