@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&family=Encode+Sans:wght@100..900&family=Hachi+Maru+Pop&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1p&family=M+PLUS+2:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700');
@import url('https://fontsapi.lase.dev/Eclyera/css');
@import url('https://fontsapi.lase.dev/lixeld/css');
@import url('https://fontsapi.lase.dev/Nixymd/css');

.eclyera {
  font-family: Eclyera;
  font-size: 1.2em;
}

.eclyera.icon {
  font-size: 1.6em;
}

.lixeld {
  font-family: lixeld, sans-serif;
}