@import url('https://fontsapi.lase.dev/Eclyera/css');
@import url('https://fontsapi.lase.dev/lixeld/css');
@import url('https://fontsapi.lase.dev/Nixymd/css');

.eclyera {
  font-family: Eclyera;
  font-size: 1.2em;
}

.eclyera.icon {
  font-size: 1.6em;
}

.lixeld {
  font-family: lixeld, sans-serif;
}