/* https://fontsapi.lase.dev/Eclyera/css */
@font-face {
  font-family: 'Eclyera';
  src: local('Eclyera'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Eclyera@latest/eclyera.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Eclyera@latest/eclyera.woff') format('woff');
}

/* https://fontsapi.lase.dev/Lixeld/css */
@font-face {
  font-family: 'Lixeld';
  src: local('Lixeld'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Lixeld@latest/lixeld.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Lixeld@latest/lixeld.woff') format('woff');
}

/* https://fontsapi.lase.dev/Nixymd/css */
@font-face {
  font-family: 'Nixymd';
  src: local('Nixymd'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Nixymd@latest/nixymd.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/ixbw/Nixymd@latest/nixymd.woff') format('woff');
}

.eclyera {
  font-family: Eclyera;
  font-size: 1.2em;
}

.eclyera.icon {
  font-size: 1.6em;
}

.lixeld {
  font-family: lixeld, sans-serif;
}

/* EXPERIMENTAL */
@font-face {
  font-family: "Lase Sans";
  src: url('/assets/fonts/LaseSans.otf') format("opentype"),
      url('/assets/fonts/LaseSans.ttf') format("typeface");
}

@font-face {
  font-family: "Lase Handwriting 1";
  src: url('/assets/fonts/LaseHandwriting_1.woff2') format("woff2"),
      url('/assets/fonts/LaseHandwriting_1.woff') format("woff");
}