main {
  margin: 16px 6rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  /* padding: 12px 0; */
}
h2 {
  font-weight: 600;
  font-size: 2.1rem;
  /* padding: 8px 0; */
}
h3 {
  font-size: 1.8rem;
  /* padding: 6px 0; */
}
h4 {
  font-size: 1.3rem;
  /* padding: 5px 0; */
}

h3, h4, h5, h6 {  
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  main {
    margin: 24px;
  }

  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1023px) {
  main {
    margin: 16px 3rem;
  }
}